/* stylesMyList */

#search-label{
    -fx-text-fill: black; 
    -fx-font-size: 20px; 
    -fx-font-weight: bold;
}

#scroll-pane{
    -fx-background: #CAF4FF;
}

#list-box{
    -fx-background: #CAF4FF;
}

#rendah-label{
    -fx-font-family: 'Arial'; 
    -fx-font-size: 15px; 
    -fx-text-fill: black; 
    -fx-background-color: #a5d6a7; 
    -fx-background-radius: 5;
}

#sedang-label{
    -fx-font-family: 'Arial'; 
    -fx-font-size: 15px; 
    -fx-text-fill: black; 
    -fx-background-color: #ffe082; 
    -fx-background-radius: 5;
}

#tinggi-label{
    -fx-font-family: 'Arial'; 
    -fx-font-size: 15px; 
    -fx-text-fill: black; 
    -fx-background-color: #ea8465; 
    -fx-background-radius: 5;
}

#rendah-label:hover{
    -fx-font-family: 'Arial'; 
    -fx-font-size: 15px; 
    -fx-text-fill: black; 
    -fx-background-color: #81d784; 
    -fx-background-radius: 5;
}

#sedang-label:hover{
    -fx-font-family: 'Arial'; 
    -fx-font-size: 15px; 
    -fx-text-fill: black; 
    -fx-background-color: #fed455; 
    -fx-background-radius: 5;
}

#tinggi-label:hover{
    -fx-font-family: 'Arial'; 
    -fx-font-size: 15px; 
    -fx-text-fill: black; 
    -fx-background-color: #f06f48; 
    -fx-background-radius: 5;
}



#back-btn{
    -fx-background-color: #ffffff;
    -fx-font-size: 15px; 
    -fx-font-weight: bold;
}

#back-btn:hover{
    -fx-background-color: #868686;
    -fx-font-size: 15px; 
    -fx-font-weight: bold;
}

#lyt-list{
    -fx-background-color: #CAF4FF;
}

#no-tugas{
    -fx-font-family: 'Arial'; 
    -fx-font-size: 20px; 
    -fx-text-fiil: black;
}
#mylist-font{
    -fx-font-size:12px; 
}