#for-combox{
    -fx-background-color: #ffffff;
    -fx-font-size: 15px; 
    -fx-font-weight: bold;
    -fx-pref-width: 50px;
    -fx-max-width: 50px; 
    -fx-min-width: 50px; 
    -fx-pref-height: 30px;
    -fx-max-height: 30px; 
    -fx-min-height: 30px; 
    -fx-padding: 0;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:hover:filled:selected {
    -fx-background-color: #ffffff; /* Ensure this is a valid color */
}